* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  nav {
    display: flex;
    position: relative;
    top: 0;
    /* border-radius: 10px; */
  
  }
  nav a {

    display: flex;
    text-decoration: none;
    justify-content: space-between;
    /* right: ; */
    margin: 10px;
    padding: 10px;
    /* flex: 1; */
    background-color: rgb(206, 136, 31);
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    transition: all .1s;
    text-align: center;
    font-style: oblique;
    /* position: ; */
  }
  
  nav a:hover {
    box-shadow:0 0 10px aqua;
    background-color:0 0 10px aqua;
    transform: scale(1.2);
    color: black;
    background-color: antiquewhite;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    /* display: flex; */
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    
  }
  /* .content {
    text-align: center;
  } */
  .content p {
    text-align: justify;
  }

  /* .content img{
    display: flex;
    flex-direction: row;
    justify-content: center;
  } */
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


  

