
body{
	margin: 1px;
}
nav {
	display: flex;
	position: relative;
	top: 0;
	/* border-radius: 10px; */

}
nav a {

	display: flex;
	text-decoration: none;
	justify-content: space-between;
	/* right: ; */
	margin: 10px;
	padding: 10px;
	/* flex: 1; */
	background-color: rgb(206, 136, 31);
	border: 1px solid black;
	border-radius: 8px;
	color: black;
	transition: all .1s;
	text-align: center;
	font-style: oblique;
	/* position: ; */
  }
  
  nav a:hover {
	box-shadow:0 0 10px aqua;
	background-color:0 0 10px aqua;
	transform: scale(1.2);
	color: black;
	background-color: antiquewhite;
  }

h1 {
	text-align: center;
	padding: 2rem;
	font-size: 2rem;
}



.textbox p {
	padding-left: 3rem;
	text-indent: 2rem;
	font-size: 2rem;
}


/* .foot p {
	padding-left: 3rem;
	text-indent: 2rem;
} */

.image-gallery{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2%;
	padding: 2rem;
}

.image-gallery > div {
	flex: 0 0 32%;
}

.image-gallery > div > img {
	width: 100%;
}

/* .p5{
	margin: 10px;
	padding: 10px;
}
.p6{
	margin: 10px;
	padding: 10px;
} */






.container {
	position: relative;
	width: 50%;
  }
  
  .image {
	width: 100%;
	height: auto;

  }
  
  .overlay {
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: #041f2843;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
  }
  
  .container:hover .overlay {
	width: 100%;
	left: 0;
  }
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
  }